---
import { footerLinks } from "@/utils";
import { footerSocialMedia } from "@/utils/footer-links";

const year = new Date().getFullYear();
---

<footer class="mt-10 lg:mt-20 mb-10 w-full">
   <div class="max-w-[1600px] mx-auto px-3">
      <div class="flex flex-wrap text-left lg:text-left">
         <div class="w-full lg:w-6/12">
            <img src="/src/assets/logo.webp" alt="logo-cubit" class="w-32" />
            <h5 class="text-lg my-2 text-slate-300">
               Somos empresa de excelencia en venta de productos e insumos
               tecnológicos.
            </h5>
            <div class="mt-6 lg:mb-0 mb-6 flex items-center gap-x-2">
               {
                  footerSocialMedia.map(({ title, icon, href }) => (
                     <a href={href} class="text-rose-300">
                        <img src={icon} alt={title} class="w-8" />
                     </a>
                  ))
               }
            </div>
         </div>

         <!-- LINKS -->
         <div class="w-full lg:w-6/12">
            <div class="grid grid-cols-2 items-top mb-6">
               {
                  footerLinks.map(({ links, title }) => (
                     <div class="w-full lg:w-4/12">
                        <h5 class="block uppercase text-slate-400 text-sm font-semibold mb-2">
                           {title}
                        </h5>
                        <ul class="list-unstyled">
                           {links.map(({ href, title }) => (
                              <li>
                                 <a
                                    class="text-slate-500 hover:text-slate-400 transition-colors font-semibold block pb-2 text-sm capitalize"
                                    href={href}
                                 >
                                    {title}
                                 </a>
                              </li>
                           ))}
                        </ul>
                     </div>
                  ))
               }
            </div>
         </div>
      </div>
      <hr class="my-6 border-blueGray-300" />
      <div
         class="flex flex-wrap items-center md:justify-between justify-center"
      >
         <div class="w-full md:w-4/12 px-4 mx-auto text-center">
            <div class="text-sm text-blueGray-500 font-semibold py-1">
               Copyright © <span id="get-current-year">{year}</span>
                  <a
                     href="https://amn.com.ar"
                     class="text-slate-500 md:hover:text-slate-400"
                     >AMN Consultora Informática</a
                  >.
               </a>
            </div>
         </div>
      </div>
   </div>
</footer>
